<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/iosocket.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <style>
    video { display: none; }
    </style>
  </head>
  <body onload="streamVideo()">
    <p id="message"></p>
    <video id="video"></video>
    <canvas id="canvas"></canvas>
    <img src="" id="image">
  </body>
</html>
